<section id="bon21" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Sprejemamo BON21 (100 EUR)</h2>
        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
      <div class="col-lg-12">
          <img class="img-responsive" src="/img/bon21.jpg">
      </div>
    </div>
    <div class="row container">
      <p class="h4">
        Na našem strelišču lahko vnovčite BON21 (v vrednosti 100 EUR). Do bona so upravičene vse osebe, ki so/bodo do konca leta 2021 dopolnile 18 let. Bon je tudi prenosljiv, za navodila kliknite
        <a target="_blank" href="https://www.fu.gov.si/fileadmin/Internet/Drugo/Posebna_podrocja/Turisticni_boni/Priloga_3_-_BON_21.docx">tu</a>.

        <br/><br/>

        V kolikor želite postati član, lahko z bonom plačate članarino. V kolikor pa se želite samo preiskusiti
        v streljanju, pa lahko BON21 vnovčite za najem strelišča, orožja in streliva brez kakršnih koli dovoljenj.

        <br/><br/>

        Vse, kar potrebujete je izpolnjen <a target="_blank" href="https://www.fu.gov.si/fileadmin/Internet/Drugo/Posebna_podrocja/Turisticni_boni/Priloga_1_-_BON_21.docx">Obrazec 1</a>

        <br/><br/>

        BON21 je vnovčljiv do 31.12.2021 (možnost podaljšanja BON21 za 6 mesecev s sklepom Vlade RS). <a href="https://www.fu.gov.si/drugo/posebna_podrocja/turisticni_bon_in_bon21/" target="_blank">Za več informacij o bonu kliknite tu</a>.
      </p>
    </div>
  </div>
</section>
