<section id="orozje" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><a href="/paketi">Orožje</a></h2>
        <h3 class="section-subheading text-muted">Orožje, ki si ga je mogoče sposoditi. Za osebe, ki nimajo orožne listine in orožja, si oglejte <a href="/paketi">pakete</a>.</h3>
      </div>
    </div>
    <div class="row container">
      {% for orozje in site.orozje %}
      {% assign gun = orozje[1] %}
        <div class="col-md-3 orozjelist">
          <div class="thumbnail">
            <h3 class="text-center"><a href="/paketi">{{ gun.title }} ({{gun.cal}})</a></h3>
            <a href="/paketi"><img src="/img/orozje/{{ gun.img }}" alt="{{gun.title}}"></a>
            <div class="caption">
              <p>{{ gun.tip }}</p>
              <p>{{ gun.desc }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
